// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";
@font-face {
    font-family: "Calibre";
    src: url("/public/fonts/Calibre/Calibre-Regular.ttf") format("truetype"),
        url("/public/fonts/Calibre/Calibre-Regular.woff") format("woff"),
        url("/public/fonts/Calibre/Calibre-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Calibre-bold";
    src: url("/public/fonts/Calibre/Calibre-Semibold.ttf") format("truetype"),
        url("/public/fonts/Calibre/Calibre-Semibold.woff") format("woff"),
        url("/public/fonts/Calibre/Calibre-Semibold.woff2") format("woff2");
}
@font-face {
    font-family: "SF Mono";
    src: url("/public/fonts/SFMono/SFMono-Regular.ttf") format("truetype"),
        url("/public/fonts/SFMono/SFMono-Regular.woff") format("woff"),
        url("/public/fonts/SFMono/SFMono-Regular.woff2") format("woff2");
}

// Then add additional custom code here
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

:root {
    --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text",
        -apple-system, system-ui, sans-serif;
    --font-sans-bold: "Calibre-bold";
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --background: #ebebeb;
    --sides: #8c8c8c;
    --co-main: #2e5299;
    --co-main-hover: #98b0e0;
    --sub-main: #5d5d5d;
    --main: #000000;
}

body {
    background-color: var(--background);
    font-family: var(--font-sans);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: #343a40;
    box-shadow: none;
    border-radius: 10px;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.logo {
    margin: 1rem;
    padding: 0;
    path {
        fill: var(--co-main);
        transition: all 0.15s ease-in-out;
    }
}

.nav-toggle {
    display: none;
}

.primary-header {
    background-color: var(--background);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100px;
    transition: all 0.3s ease-in-out;
    &.hidden {
        top: -100%;
        transition: all 0.3s ease-in-out;
    }
    &.show {
        top: 0;
        height: 70px;
        transition: all 0.3s ease-in-out;
        box-shadow: -10px 0px 30px -15px var(--sides);
    }
}

.primary-navigation {
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 10;
    font-family: var(--font-mono);
    counter-reset: item 0;
    .primary-links {
        font-size: var(--fz-sm);
        counter-increment: item 1;
        a {
            text-decoration: none;
            color: var(--main);
            font-weight: 500;
        }
        a:before {
            content: "0" counter(item) ".";
            margin-right: 5px;
            font-size: var(--fz-xxs);
            font-weight: 500;
            color: var(--co-main);
        }
    }
    .resume-link {
        list-style-type: none;
        font-size: var(--fz-sm);
        a {
            text-decoration: none;
            color: var(--co-main);
            padding: 9px 14px;
            border: solid 2px var(--co-main);
            border-radius: 6px;
            transition: all 0.2s ease-in-out;
            font-weight: 500;
        }
        a:hover {
            background-color: var(--co-main-hover);
            transition: all 0.2s ease-in-out;
        }
    }
}

main {
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    counter-reset: section;

    section {
        max-width: 1000px;
        margin: 0 auto;
    }

    .section-header {
        color: black;
        font-family: var(--font-sans-bold);
        font-size: clamp(26px, 5vw, var(--fz-heading));
        position: relative;
        white-space: nowrap;
        &::before {
            counter-increment: section;
            color: var(--co-main);
            position: relative;
            content: "0" counter(section) ".";
            font-family: var(--font-mono);
            font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
            bottom: 2px;
        }
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 40%;
            margin-left: 15px;
            height: 1px;
            background-color: var(--sides);
        }
    }

    .intro {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 !important;
        div {
            h2 {
                font-size: clamp(var(--fz-md), 5vw, var(--fz-lg));
                font-family: var(--font-mono);
                font-weight: 500;
                margin-bottom: 0;
                color: var(--co-main);
            }
            .big-header {
                font-size: clamp(50px, 10vw, 100px);
                font-family: var(--font-sans-bold);
                font-weight: 600;
                padding-bottom: 0;
                margin-bottom: 0;
                margin-top: 25px;
                color: var(--main);
                line-height: 1;
            }
            .medium-header {
                font-size: clamp(30px, 8vw, 75px);
                font-family: var(--font-sans-bold);
                font-weight: 400;
                color: var(--sides);
                .typing {
                    color: var(--co-main);
                }
            }
            p {
                font-family: var(--font-sans);
                font-size: var(--fz-lg);
                max-width: 540px;
                .highlight {
                    color: var(--co-main);
                }
            }
            .email-link {
                padding: 15px 30px;
                font-family: var(--font-mono);
                transition: all 0.3s ease-in-out;
                white-space: nowrap;
                color: var(--co-main);
                border: var(--co-main) solid 2px;
            }
            .email-link:hover {
                background-color: var(--co-main-hover);
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .typed-cursor {
        color: var(--co-main);
    }

    .about {
    }

    .experience {
    }

    .projects {
        .project-container {
            margin-top: 3px;
            margin: 0 auto;
            div {
                .project-card {
                    height: 250px;
                    border-radius: 8px;
                    background: #f5f5f5;
                    padding: 1.8rem;
                    border: 2px solid #c3c6ce;
                    transition: all 0.2s ease-out;
                    overflow: visible;
                    .project-content {
                        height: 100%;
                        gap: 0.5em;
                        display: grid;
                        place-content: center;
                        .text-title {
                            font-size: 1.5em;
                            font-weight: bold;
                        }
                        .text-body {
                            color: rgb(134, 134, 134);
                        }
                    }
                    .card-button {
                        transform: translateY(20%);
                        text-align: center;
                        color: #fff;
                        opacity: 0;
                        transition: all 0.2s ease-out;
                    }
                    &:hover {
                        border-color: #008bf8;
                        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
                        transform: translateY(-7px);
                        transition: all 0.2s ease-in;
                        .card-button {
                            transform: translateY(-40%);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .contact {
        text-align: center;
        max-width: 600px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-header {
            text-align: center;
            font-family: var(--font-mono);
            font-size: var(--fz-lg) !important;

            &::before {
                font-size: var(--fz-sm) !important;
                bottom: 1px !important;
                margin-right: 5px;
            }
            &::after {
                width: 0 !important;
            }
        }
        .title {
            font-family: var(--font-sans-bold);
            color: var(--co-main);
            font-size: clamp(40px, 5vw, 60px);
        }
        p {
            font-family: var(--font-sans);
            font-size: var(--fz-lg);
            margin: 0;
            position: relative;
        }
        a {
            margin-top: 50px;
            padding: 13px 10px;
            color: var(--co-main);
            border: solid 2px var(--co-main);
            transition: all 0.2s ease-in-out;
            font-size: var(--fz-sm);
            font-family: var(--font-mono);
            width: -moz-fit-content;
            width: fit-content;
            &:hover {
                background-color: var(--co-main-hover);
                transition: all 0.2s ease-in-out;
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    div {
        width: -moz-fit-content;
        width: fit-content;
        ul {
            display: none;
            li {
                a {
                    .logo {
                        path {
                            fill: var(--sub-main);
                        }
                    }
                }
            }
        }
        a {
            text-decoration: none;
            font-family: var(--font-mono);
            font-size: var(--fz-xxs);
            div {
                transition: all 0.2s ease-in-out;
                color: var(--sub-main);
            }
        }
        a:hover {
            color: var(--co-main);
            div {
                transform: translateY(-5px);
                transition: all 0.2s ease-in-out;
                color: var(--co-main);
            }
        }
    }
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

@media (max-width: 330px) {
    .primary-header {
        height: 80px;
    }
}

@media (max-width: 492px) {
    main {
        padding-top: 30px;
        padding-right: 25px;
        padding-left: 25px;
        .intro {
            div {
                .email-link {
                    margin-top: 0;
                }
            }
        }
        section {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .section-header {
            overflow-x: hidden;
            &:hover::after {
                width: 100%;
            }
        }
    }
}

@media (min-width: 492.1px) and (max-width: 768px) {
    main {
        padding-right: 50px;
        padding-left: 50px;
        section {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    nav {
        text-align: center;
    }

    .primary-header {
        &.show {
            top: 0;
            height: 60px;
            transition: all 0.3s ease-in-out;
        }
    }

    .primary-navigation {
        --gap: 1em;
        position: fixed;
        width: min(75vw, 400px);
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--background);
        box-shadow: -10px 0px 30px -15px var(--sides);
        transform: translateX(130%);
        transition: all 0.2s ease-in;
        .primary-links {
            a {
                display: block;
                text-align: center;
                font-size: clamp(var(--fz-sm), 4vw, var(--fz-lg));
                font-weight: 500;
                width: 100%;
                padding-top: 3px;
                padding-bottom: 20px;
                color: var(--main);
            }
            a::before {
                display: none;
            }
        }
        .primary-links::before {
            content: "0" counter(item) ".";
            font-size: var(--fz-sm);
            margin-bottom: 5px;
            color: var(--co-main);
        }
        .resume-link {
            margin-top: 5%;
            margin-bottom: 0px;
            a {
                color: var(--co-main);
                padding: 18px 50px;
                width: max-content;
                border-radius: 6px;
                border: solid 2px var(--co-main);
                transition: all 0.2s ease-in-out;
            }
        }
    }

    .primary-navigation.is-active {
        transform: translateX(0%);
    }

    .nav-toggle {
        position: absolute;
        right: 2rem;
        z-index: 9999;
        display: block;
        width: 36px;
        direction: rtl;
        cursor: pointer;
        height: 27px;
        border: none;
        background: none;
    }

    .bar,
    .nav-toggle:after,
    .nav-toggle:before {
        content: "";
        display: block;
        height: 3.4px;
        background-color: var(--co-main);
        margin: 5.5px 0;
        border-radius: 15px;
        transition: 0.2s;
    }
    .bar {
        width: 30px;
    }
    .nav-toggle:after {
        width: 24px;
    }
    .nav-toggle.is-active:before {
        width: 34px;
        transform: rotate(45deg) translate(0, 11px);
    }
    .nav-toggle.is-active .bar {
        opacity: 0;
    }
    .nav-toggle.is-active:after {
        width: 34px;
        transform: rotate(-45deg) translate(0, -14.5px);
    }

    main.blur {
        filter: blur(3px);
        transition: all 0.2s;
        pointer-events: none;
        --webkit-user-select: none;
        user-select: none;
    }

    .section-header {
        overflow-x: hidden;
        &::after {
            width: 100%;
        }
    }

    .project-container {
        div {
            .project-card {
                .card-button {
                    transform: translateY(-40%);
                    opacity: 1;
                }
            }
        }
    }

    main {
        .contact {
            margin-bottom: 50px;
        }
    }
    footer {
        div {
            ul {
                padding: 0;
                display: flex;
                list-style-type: none;
            }
        }
    }
}

@media (min-width: 768.1px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        transition: all 0.2s;
    }

    .left.sidebar {
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sidebar-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
                margin-bottom: 10px;
                a .logo {
                    transform: translateY(0);
                    transition: all 0.2s ease-in-out;
                    path {
                        fill: var(--sides);
                        transition: all 0.2s ease-in-out;
                    }
                }
                a:hover .logo {
                    transform: translateY(-5px);
                    transition: all 0.2s ease-in-out;
                    path {
                        fill: var(--co-main);
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }

    .right.sidebar {
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            text-decoration: none;
            color: var(--sides);
            font-size: var(--fz-md);
            font-family: monospace;
            writing-mode: vertical-rl;
            margin-bottom: 17px;
            transform: translateY(0px);
            transition: all 0.2s ease-in-out;
        }
        a:hover {
            color: var(--co-main);
            transform: translateY(-5px);
            transition: all 0.2s ease-in-out;
        }
    }

    .sidebar-links::after,
    .right.sidebar::after {
        content: "";
        display: block;
        width: 1px;
        height: 100px;
        background-color: var(--sides);
    }

    main {
        section {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .intro {
        }
        .about {
        }
        .contact {
            margin-bottom: 100px;
        }
    }
}

@media (max-height: 700px) and (min-width: 700px), (max-width: 360px) {
    .intro {
        height: auto;
        padding-top: 100px;
    }
    .sidebar-links::after,
    .right.sidebar::after {
        content: "";
        height: 85px;
    }
}

@media (min-width: 768.1px) and (max-width: 1092px) {
    main {
        padding-left: 100px;
        padding-right: 100px;
        .section-header {
            overflow-x: hidden;
            &::after {
                width: 200px;
            }
        }
    }
}

@media (min-width: 1092.1px) {
    main {
        padding-left: 150px;
        padding-right: 150px;
        .section-header {
            overflow-x: hidden;
            &::after {
                width: 300px;
            }
        }
    }
}
