// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text",
        -apple-system, system-ui, sans-serif;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --nav-toggle-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out,
        transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
body {
    background-color: #343a40;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #6c757d;
}

::-webkit-scrollbar-thumb {
    background-color: #343a40;
    box-shadow: none;
    border-radius: 10px;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.logo {
    margin: 1rem;
}

.nav-toggle {
    display: none;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.primary-navigation {
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 10;
    font-family: var(--font-mono);
    counter-reset: item 0;
    .primary-links {
        font-size: var(--fz-sm);
        counter-increment: item 1;
        a {
            text-decoration: none;
            color: black;
        }
        a:before {
            content: "0" counter(item) ".";
            margin-right: 5px;
            color: white;
            font-size: var(--fz-xxs);
        }
    }
    .resume-link {
        list-style-type: none;
        font-size: var(--fz-sm);
        padding: 9px 14px;
        border: solid 2px black;
        border-radius: 6px;
        a {
            text-decoration: none;
            color: black;
        }
    }
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    nav {
        text-align: center;
    }

    .primary-navigation {
        --gap: 1em;
        position: fixed;
        // inset: 0 0 0 50%;
        width: min(75vw, 400px);
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $gray-700;
        box-shadow: -10px 0px 30px -15px $gray-700;
        transform: translateX(130%);
        transition: all 0.2s ease-in;
        .primary-links {
            a {
                display: block;
                text-align: center;
                font-size: clamp(var(--fz-sm), 4vw, var(--fz-lg));
                width: 100%;
                padding-top: 3px;
                padding-bottom: 20px;
            }
            a::before {
                display: none;
            }
        }
        .primary-links::before {
            content: "0" counter(item) ".";
            font-size: var(--fz-sm);
            margin-bottom: 5px;
        }
        .resume-link {
            padding: 18px 50px;
            margin-top: 5%;
            margin-bottom: 0px;
            width: max-content;
            border-radius: 6px;
            border: solid 2px black;
        }
    }

    .primary-navigation.is-active {
        transform: translateX(0%);
    }

    .nav-toggle {
        position: absolute;
        right: 2rem;
        z-index: 9999;
        display: block;
        width: 36px;
        direction: rtl;
        cursor: pointer;
        height: 27px;
        border: none;
        background: none;
    }
    .bar,
    .nav-toggle:after,
    .nav-toggle:before {
        content: "";
        display: block;
        height: 3.4px;
        background-color: black;
        margin: 5.5px 0;
        border-radius: 15px;
        transition: 0.2s;
    }
    .bar {
        width: 30px;
    }
    .nav-toggle:after {
        width: 24px;
    }
    .nav-toggle.is-active:before {
        transform: rotate(-45deg) translate(-3px, 6px);
    }

    .nav-toggle.is-active .bar {
        opacity: 0;
    }
    .nav-toggle.is-active:after {
        width: 36px;
        transform: rotate(45deg) translate(-4px, -11.5px);
    }

    main.blur {
        filter: blur(3px);
        transition: all 0.2s;
    }
}

@media (min-width: 768.1px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        transition: all 0.2s;
    }

    .left.sidebar {
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sidebar-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
                margin-bottom: 10px;
                a .logo {
                    transform: translateY(0);
                    transition: all 0.2s ease-in-out;
                    path {
                        fill: white;
                        transition: all 0.2s ease-in-out;
                    }
                }
                a:hover .logo {
                    transform: translateY(-5px);
                    transition: all 0.2s ease-in-out;
                    path {
                        fill: red;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }

    .right.sidebar {
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            text-decoration: none;
            color: white;
            font-size: var(--fz-md);
            font-family: monospace;
            writing-mode: vertical-rl;
            margin-bottom: 17px;
            transform: translateY(0px);
            transition: all 0.2s ease-in-out;
        }
        a:hover {
            color: red;
            transform: translateY(-5px);
            transition: all 0.2s ease-in-out;
        }
    }

    .sidebar-links::after,
    .right.sidebar::after {
        content: "";
        display: block;
        width: 1px;
        height: 100px;
        background-color: white;
    }
}
