// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
:root {
    --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text",
        -apple-system, system-ui, sans-serif;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out,
        transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.navbar {
    min-height: 8vh;
}

.navbar-links {
    list-style-type: none;
    font-family: var(--font-mono);
    counter-reset: item 0;
    margin-right: 15px;
    li {
        font-size: var(--fz-sm);
        counter-increment: item 1;
        .navlinks::before {
            content: "0" counter(item) ".";
            margin-right: 5px;
            color: green;
            font-size: var(--fz-xxs);
            text-align: right;
        }
    }
}

.resume-button {
    list-style-type: none;
    a {
        font-size: var(--fz-sm);
    }

}

.burger {
    direction: rtl;
    z-index: 3;
}

.burger div {
    height: 3.5px;
    background-color: black;
    margin: 4px;
}

.line1 {
    width: 27px;
}

.line2 {
    width: 23px;
}

.line3 {
    width: 19px;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        width: min(75vw, 400px);        
        top: 0vh;
        background-color: $warning;
        margin-right: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}
